@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Registro escolar</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catálogo de Alumnos y Grupos</h2>
        <p>
            Consulta de alumnos y grupos registrados
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>